#root {
    /* Color Variable */
    --orange-theme-color: #f35525;
    --light-gray-color: #cdcdcd;
    --black-color: #1e1e1e;
    --gray-color: #535353;
    --white-color: #ffffff;
    --light-pink-color: #fafafa;
    --light-orange-color: #ffeee9;
}

.get-in-touch-section {
    min-height: 100vh;
    margin-bottom: 200px;
}

.style-get-in-touch-text {
    width: 60% !important;
}

.position-for-get-in-touch-text {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

.style-map {
    width: 100% !important;
    height: 500px;
    border-radius: 10px;
}

.style-get-in-touch-icon {
    height: 40px;
}


.main-container {
    margin-top: -300px;
}

@media(min-width: 992px) and (max-width: 1400px) {
    .style-map-container-md {
        width: 65%;
    }
}

@media(max-width: 992px) {
    .justify-content-md-center-map-container {
        justify-content: center !important;
    }
}

@media(min-width: 768px) and (max-width: 992px) {
    .style-map {
        height: 450px;
    }

    .style-map-container-md {
        width: 80%;
    }

    .position-for-get-in-touch-text {
        top: 53px;
    }

    .add-height-md-for-contact-img {
        height: 80vh !important;
    }

    .style-get-in-touch-text {
        width: 80% !important;
    }
}

@media(min-width: 465px) and (max-width: 768px) {
    .style-map-container-md {
        width: 100%;
    }

    .style-map {
        height: 400px;
    }

    .position-for-get-in-touch-text {
        top: 80px;
    }

    .style-get-in-touch-text {
        width: 90% !important;
    }

    .add-height-md-for-contact-img {
        height: 70vh !important;
    }

    .main-container {
        margin-top: -225px;
    }
}

@media(min-width: 45px) and (max-width: 465px) {
    .style-map-container-md {
        width: 100%;
    }

    .style-map {
        height: 300px;
    }

    .position-for-get-in-touch-text {
        top: 53px;
    }

    .style-get-in-touch-text {
        width: 100% !important;
    }

    .add-height-md-for-contact-img {
        height: 60vh !important;
    }

    .main-container {
        margin-top: -225px;
    }

    .style-margin-bottom-md-15 {
        margin-bottom: 15px !important;
    }
}