#root {
    /* Color Variable */
    --orange-theme-color: #f35525;
    --light-gray-color: #cdcdcd;
    --black-color: #1e1e1e;
    --gray-color: #535353;
    --white-color: #ffffff;
    --light-pink-color: #fafafa;
    --light-orange-color: #ffeee9;
}

.footer {
    background-color: var(--black-color);
    min-height: 110px;
    display: flex;
    align-items: center;
}

.footer div p {
    font-size: 18px;
    font-weight: 600;
}